.appHeader {
  background-color: #282c34;
  min-height: 10vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.appArticle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.appArticle div {
  width: 800px;
}

button{
  margin: 20px 50px;
  padding: 20px;
  border-radius: 20px;
  font-size: 1em;
}
